In [1]:
%load_ext autoreload
%autoreload 2
# coding=utf-8#%%

import defs as d
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
import bias_variance_decomposition as bvd
import hpo
import eda
import loss_functions as lf
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
import scipy.stats as stats
import workflow as wf
import ma_std_featurize as msf
import weather_datasource as wd
import base_datasource as bd
d

In [2]:
%%time
print('start')
wd.weather_data_to_pickle()

start
Saved to: /home/jovyan/dev/projects/vinx/work/data/interim/weather_data.pkl
CPU times: user 74.5 ms, sys: 11.6 ms, total: 86 ms
Wall time: 147 ms

In [4]:
%%time
print('start')
bd.basedata_to_pickle(for_eda=False)

start
Saved to: /home/jovyan/dev/projects/vinx/work/data/interim/basedata.pkl
CPU times: user 11.4 s, sys: 791 ms, total: 12.1 s
Wall time: 12.4 s

In [258]:
%%time
print('start')
f

start
CPU times: user 510 µs, sys: 1.07 ms, total: 1.58 ms
Wall time: 1.09 ms

,store_cd,date_t,ma7,ma14,ma30,std7,std14,std30,customer_count_sum,all_ma7,all_ma14,all_ma30,all_std7,all_std14,all_std30
0,113,2017-01-27,NaN,NaN,NaN,NaN,NaN,NaN,426045,NaN,NaN,NaN,NaN,NaN,NaN
1,113,2017-01-28,NaN,NaN,NaN,NaN,NaN,NaN,432364,NaN,NaN,NaN,NaN,NaN,NaN
2,113,2017-01-29,NaN,NaN,NaN,NaN,NaN,NaN,446540,NaN,NaN,NaN,NaN,NaN,NaN
3,113,2017-01-30,NaN,NaN,NaN,NaN,NaN,NaN,480638,NaN,NaN,NaN,NaN,NaN,NaN
4,113,2017-01-31,NaN,NaN,NaN,NaN,NaN,NaN,428062,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205207,880,2020-05-07,3209.000000,3155.142857,3088.900000,147.704660,135.822201,219.580533,493144,460596.571429,459393.928571,458500.166667,34982.121738,29835.511176,37503.108586
205208,880,2020-05-08,3196.428571,3171.642857,3099.533333,132.605753,138.940279,222.035681,483308,457995.428571,459811.714286,459299.233333,31980.569079,30147.257601,37775.921087
205209,880,2020-05-09,3199.285714,3184.000000,3105.333333,134.456578,140.623338,224.523147,462312,457264.714286,460406.571429,459151.366667,31787.003207,30105.555372,37754.434728
205210,880,2020-05-10,3235.428571,3207.928571,3108.533333,97.841466,116.474800,225.817860,462194,460209.857143,462581.071429,458280.500000,31037.582662,28953.985854,37357.646631
205211,880,2020-05-11,3234.285714,3213.785714,3100.500000,98.084512,114.351132,217.227634,478967,464986.285714,465574.571429,457533.533333,30974.936786,28270.601402,36684.201935

In [260]:
%%time
print('start')
mask = (f['store_cd'] == 880)
f[mask].to_csv(d.TMP+'/mastd_check880.csv', index=False)

start
CPU times: user 18.5 ms, sys: 5.32 ms, total: 23.9 ms
Wall time: 56.8 ms